<mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile [colspan]="1">
        <mat-card class="example-card" class="bg-gray">
            <mat-card-header>
                <h3>Title</h3>
            </mat-card-header>
            <mat-card-content>
                <p>
                    This is where the card content will go...
                </p>
            </mat-card-content>
            <mat-card-footer>
                Footer
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <mat-card class="example-card" class="bg-black text-white">
            <mat-card-header>
                <h3>Title</h3>
            </mat-card-header>
            <mat-card-content>
                <p>
                    This is where the card content will go...
                </p>
            </mat-card-content>
            <mat-card-footer>
                Footer
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <mat-card class="example-card" class="bg-blue text-white">
            <mat-card-header>
                <h3>Title</h3>
            </mat-card-header>
            <mat-card-content>
                <p>
                    This is where the card content will go...
                </p>
            </mat-card-content>
            <mat-card-footer>
                Footer
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <mat-card class="example-card" class="bg-smoke">
            <mat-card-header>
                <h3>Title</h3>
            </mat-card-header>
            <mat-card-content>
                <p>
                    This is where the card content will go...
                </p>
            </mat-card-content>
            <mat-card-footer>
                Footer
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

      